<h2> Users </h2>

<table>
    <tr>
        <th> ID </th>
        <th> Email </th>
        <th> Creation Date </th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at %></td>
            <td><%= link_to 'Show', user, class: "btn btn-primary btn-sm", style: "margin:2px;"%> </td>
        </tr>
    <% end %>
</table>