<div class="category">

  <h1 class="font-effect-outline" id="new-category-title">Editing shipping address</h1>

  <%= render "form", shipping_address: @shipping_address, button_text: "Update" %>

  <div>
    <%= link_to "Back", my_account_path, class: "btn btn-warning", id: "back-button" %>
  </div>

</div>