<div class="category">

  <h1 class="font-effect-outline" id="new-category-title">New shipping address</h1>

  <%= render "form", shipping_address: @shipping_address, button_text: "Create" %>

  <br>

  <div>
    <%= link_to "Back", shipping_addresses_path, class: "btn btn-warning", id: "back-button" %>
  </div>

</div>