@import "bootstrap";

// Navbar

#navbar {
    background-color:#0C0B10 !important;
}

#navbar-image {
    height:60px; 
    margin-top: -1px; 
    margin-right: 50px;
}

#nav-link-text {
    color: #C09040; 
    margin-right:10px;
}

#sign-in-button-text {
    font-family: 'Lobster', cursive;
    font-size: 18px;
    color: #C09040; 
    margin-right:10px; 
    text-decoration: underline;
    text-decoration-color: #0C0B10;
}

#nav-button {
    background-color: #C09040 !important;
}

#sign-up-button-text, #sign-out-button-text {
    font-family: 'Dancing Script', cursive;
    color: black; 
    font-weight: bold; 
    text-decoration: underline;
    text-decoration-color: #C09040;
}

// Sign Up & Sign In

#card-image {
    border-radius: 1rem 0 0 1rem; 
    height: 100%;
}

#card-logo {
    height: 60px; 
    margin-left: 40%;
}

#card-title {
    letter-spacing: 1px; 
    margin-left: 30%; 
    margin-top: 20px; 
    font-family: 'Pacifico', cursive;
}
em {
    color: grey;
    font-size: 15px;
    margin-top: 20px;
}

.select-button {
    background-color: #FAFAD2;
    color: #996515;
    height: 35px;
    border-radius: 7px;
    border-color: #C09040;
    margin-right: 15px;
}

.gold-button {
    background-color: #C09040;
    border-radius: 10px;
    border-color: #C09040;
    text-align: center;
    font-size: 20px;
    font-family: 'Sofia', cursive;
    color: #0C0B10; 
    font-weight: bold; 
} 

.golden-text {
    font-family: 'Lobster', cursive;
    font-size: 18px;
    color: #C09040; 
}

#cart {
    height: 40px; 
}

.shadow-text {
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 60px;
    text-shadow: 3px 3px 3px #ababab;
}

td {
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
}

.order-button {
    background-color: #C09040;
    border-radius: 10px;
    border-color: #C09040;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', cursive;
    color: #0C0B10; 
    font-weight: bold; 
    margin-left: 77%; 
}
