<div class="product">

  <h1 class="font-effect-outline" id="new-product-title">New product</h1>

  <%= render "form", button_text: "Create" %>

  <%= link_to "Back", products_path, class: "btn btn-warning", id: "back-button" %>
    
</div>
